{
    "database": {
        "host": "HOST",
        "userName": "USERNAME",
        "password": "PASSWORD",
        "databaseName": "DATABASE_NAME",
        "required": true | false
    },
    "bot": {
        "id": "BOT_ID",
        "token": "TOKEN"
    },
    "guild": {
        "id": "GUILD_ID"
    }
}
